body {
    font-family: Roboto, sans-serif;
    background-color: #292929;
}

.header-contacts__container {
    width: 100%;
    height: 50px;
    background-color: #292929;
}

.header-contacts__row {
    width: 1200px;
}

.header-contacts__telephon,
.header-contacts__message {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}

.header-contacts__telephon {
    width: 140px;
}

.header-contacts__message {
    width: 194px;
}

.header-contacts__telephon:hover,
.header-contacts__message:hover {
    color: #ffa100;
}

.header-contacts__telephon:hover::before {
    content: url('/SVG_icon/telephon-hover.svg');
}

.header-contacts__message:hover::before {
    content: url('/SVG_icon/message-hover.svg');
}

.header-contacts__telephon::before {
    content: url('/SVG_icon/call.svg');
    display: inline-block;
    margin-right: 10px;
}

.header-contacts__message::before {
    content: url('../SVG_icon/message.svg');
    display: inline-block;
    margin-right: 15px;
}

.header-contacts__icon {
    padding: 0;
}

.header-contacts__icon a {
    width: 15px;
    height: 15px;
    margin-right: 12px;
}

.linkedin {
    background: url('/SVG_icon/Linkedin.svg');
}

.google {
    background: url('/SVG_icon/Google.svg');
}

.pinterest {
    background: url('/SVG_icon/Pinterest.svg');
}

.facebook {
    background: url('/SVG_icon/Facebook.svg');
}

.instagram {
    background: url('/SVG_icon/Instagram.svg');
}

.twitter {
    background: url('/SVG_icon/Twitter.svg');
}

.skype {
    background: url('/SVG_icon/Skype.svg');
}

.linkedin:hover {
    background: url('/SVG_icon/Linkedin-hover.svg');
}

.google:hover {
    background: url('/SVG_icon/Google-hover.svg');
}

.pinterest:hover {
    background: url('/SVG_icon/Pinterest-hover.svg');
}

.facebook:hover {
    background: url('/SVG_icon/Facebook-hover.svg');
}

.instagram:hover {
    background: url('/SVG_icon/Instagram-hover.svg');
}

.twitter:hover {
    background: url('/SVG_icon/Twitter-hover.svg');
}

.skype:hover {
    background: url('/SVG_icon/Skype-hover.svg');
}

.header-menu__nav {
    width: 1200px;
    background-color: #fff;
    padding-left: 9px;
    padding-right: 4px;
}

.navbar {
    width: 100%;
    height: 81px;
    background-color: #fff;
}

img.header-menu__logo {
    width: 171px;
    height: 30px;
}

.header-menu__links {
    width: 100%;
}

li.nav-item {
    margin-right: 20px;
    position: relative;
}

li.nav-item:last-child {
    margin-right: 0;
}

a.nav-link:after {
    content: '';
    height: 1.1px;
    width: 76%;
    display: block;
    position: absolute;
    background-color: #ffa100;
    transform: translate(0, 20px);
    visibility: hidden;
    transition: all .3s ease-in;
}

a.nav-link {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: #454545;
    font-size: 14px;
}

a.nav-link:hover {
    color: #ffa100;
}

a.nav-link:hover:after {
    visibility: visible;
    transform: translate(0, 0);
    transition: transform .3s ease-in;
}

.burger {
    visibility: hidden;
}

.header-img {
    width: 1903px;
    height: 578px;
}

.header-img__background {
    position: relative;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .6;
    position: absolute;
}

.header-img__car {
    min-height: 530px;
    max-width: 100%;
    max-height: 100%;
    background: url('/img/Audi-A6(3).jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.header-img__text-container {
    width: 600px;
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translateX(-80%);
    color: #fff;
}

.header-img__title {
    width: 340px;
    font-size: 35px;
    line-height: 55px;
    font-weight: 700;
}

.header-img__text {
    font-size: 16px;
    margin-top: 20px;
    font-weight: 400;
    text-align: justify;
}

.header-img__link {
    width: 200px;
    height: 45px;
    margin-top: 30px;
    border: 2px solid #fff;
    transition: all .3s linear;
}

.header-img__link a {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 45px;
    color: #fff;
}

.header-select__container {
    width: 982px;
    height: 280px;
    position: absolute;
    padding: 55px 40px 75px 40px;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    transform: translateY(-50%);
}

.select__title {
    color: #ffa100;
    text-transform: uppercase;
    font-size: 17px;
}

.suv {
    background: url("/img/car-select-form/suv-grey.png") no-repeat top center;
}

.suv-active {
    background: url("/img/car-select-form/suv-active.png") no-repeat top center;
}

.pickup {
    background: url("/img/car-select-form/pickup-grey.png") no-repeat top center;
}

.pickup-active {
    background: url("/img/car-select-form/pickup-active.png") no-repeat top center;
}

.coupe {
    background: url("/img/car-select-form/coupe-grey.png") no-repeat top center;
}

.coupe-active {
    background: url("/img/car-select-form/coupe-active.png") no-repeat top center;
}

.convertible {
    background: url("/img/car-select-form/convertible-grey.png") no-repeat top center;
}

.convertible-active {
    background: url("/img/car-select-form/convertible-active.png") no-repeat top center;
}

.vehicle {
    height: 68px;
    margin-right: 40px;
    cursor: pointer;
}

.vehicle-text {
    color: #bababa;
    font-size: 14px;
}

.vehicle-text-active {
    color: #ffa100;
}

.price-filter {
    width: 200px;
    height: 50px;
    padding: 0;
    position: relative;
}

.price-title {
    font-size: 17px;
    text-transform: uppercase;
    color: #bababa;
    position: absolute;
    top: -50%;
    left: 25%;
}

#price-slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 6px;
    width: 200px;
    background-color: #D1D1D1;
    outline: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#price-slider::-moz-range-thumb {
    -moz-appearance: none;
}

#price-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 1px solid #ffa100;
    border-radius: 50%;
}

.slider-value {
    font-size: 16px;
    font-weight: bold;
    color: #ffa100;
    position: absolute;
    left: 0px;
    transform: translateY(-30%);
}

.progress-bar {
    width: 0px;
    height: 6px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ffa100;
}

.select-box {
    position: relative;
    left: -10px;
    margin-right: 10px;
}

.options-brands-container,
.options-models-container,
.options-years-container {
    opacity: 0;
    width: 150px;
    position: absolute;
    background: #FFFFFF;
    color: #ffa100;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.2s;
    margin-top: -10px;
    border: 1px solid #ffa100;
    pointer-events: none;
}

.option-list-brands,
.option-list-models,
.option-list-years {
    height: 38px;
    padding: 8px;
    border-top: 1px solid #bababa;
}

.option-list-brands:hover,
.option-list-models:hover,
.option-list-years:hover {
    background-color: #e6e0e08e;
}

input[name="brand"],
input[name="model"],
input[name="year"] {
    display: none;
}

.select-brand,
.select-model,
.select-year {
    width: 150px;
    height: 40px;
    background: #FFFFFF;
    color: #bababa;
    border: 2px solid #bababa;
    position: relative;
    top: -10px;
    padding-left: 11px;
}

.select-brand::after,
.select-model::after,
.select-year::after {
    content: '';
    background: url("/SVG_icon/arrow-down.svg");
    position: absolute;
    right: 7px;
    width: 13px;
    height: 13px;
}

.selected-active {
    border: 2px solid #ffa100;
    color: #ffa100;
}

.selected-arrow::after {
    content: '';
    background: url("/SVG_icon/arrow-down-active.svg");
}

.options-container-active {
    opacity: 1;
    pointer-events: auto;
}

.option-list-brands,
.option-list-models,
.option-list-years,
.select-brand,
.select-model,
.select-year,
 label {
    cursor: pointer;
}

.select-placeholder {
    position: relative;
    top: -9px;
    font-size: 15px;
    font-weight: 300;
    color: #bababa;
    z-index: -1;
}

.search-button {
    width: 189px;
    height: 40px;
    position: relative;
    top: -10px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #ffa100;
    cursor: pointer;
}

.search-button:hover {
    background-color: #fff;
    color: #ffa100;
    border: 1px solid #ffa100;
}