.container-fluid {
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: #292929;
}

.header-contacts__row {
    width: 1200px;
    display: flex;
    align-items: center;
}

.header-contacts__telephon,
.header-contacts__message {
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

.header-contacts__telephon {
    width: 140px;
}

.header-contacts__message {
    width: 190px;
}

.header-contacts__telephon:hover,
.header-contacts__message:hover {
    color: #ffa100;
}

.header-contacts__telephon:hover::before {
    content: url('/SVG_icon/telephon-hover.svg');
}

.header-contacts__message:hover::before {
    content: url('/SVG_icon/message-hover.svg');
}

.header-contacts__telephon::before {
    content: url('/SVG_icon/call.svg');
    display: inline-block;
    margin-right: 10px;
}

.header-contacts__message::before {
    content: url('../SVG_icon/message.svg');
    display: inline-block;
    margin-right: 15px;
}

.header-contacts__icon {
    display: flex;
    justify-content: end;
}

.header-contacts__icon a {
    width: 15px;
    height: 15px;
    margin-right: 13px;
}

.linkedin {
    background: url('/SVG_icon/Linkedin.svg');
}

.google {
    background: url('/SVG_icon/Google.svg');
}

.pinterest {
    background: url('/SVG_icon/Pinterest.svg');
}

.facebook {
    background: url('/SVG_icon/Facebook.svg');
}

.instagram {
    background: url('/SVG_icon/Instagram.svg');
}

.twitter {
    background: url('/SVG_icon/Twitter.svg');
}

.skype {
    background: url('/SVG_icon/Skype.svg');
}

.linkedin:hover {
    background: url('/SVG_icon/Linkedin-hover.svg');
}

.google:hover {
    background: url('/SVG_icon/Google-hover.svg');
}

.pinterest:hover {
    background: url('/SVG_icon/Pinterest-hover.svg');
}

.facebook:hover {
    background: url('/SVG_icon/Facebook-hover.svg');
}

.instagram:hover {
    background: url('/SVG_icon/Instagram-hover.svg');
}

.twitter:hover {
    background: url('/SVG_icon/Twitter-hover.svg');
}

.skype:hover {
    background: url('/SVG_icon/Skype-hover.svg');
}