@media(max-width: 450px) {
    .header-contacts__icon {
        position: absolute;
        top: 17px;
        left: 8px;
    }
}

@media(max-width: 400px) {
    .header-contacts__telephon,
    .header-contacts__message {
        font-size: 3.5vw;
    }
}